# Settings
RewriteEngine On
RewriteBase /

# Routes
RewriteRule ^$ ./pages/index.php [L]

RewriteRule ^login$ ./pages/users/login.php [L]
RewriteRule ^signup$ ./pages/users/signup.php [L]

# Prevent accessing any .php from file
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^ - [R=404,L]
