body{
    width: 100%;
    height: 100vh;
}
.green-text {
	color: #23d160 !important;
}

.red-text {
	color: #ff3860 !important;
}

.is-danger-navbar-item {
    background-color: #ff3860;
}

.is-danger-navbar-item:hover {
    background-color: #b82845 !important;
}

.is-primary {
    background-color: #958D79 !important; 
}

.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    min-width: 250px;
    top: 0;
    bottom: 0;
    padding: 30px;
}
  
.content {
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10%);
}

.tiny-card {
    margin-left: 8px;
    margin-top: 16px;
    border-left: 4px solid orange;
}

.heart-icon {
    color: red;
}

.right-side {
    position: absolute;
    right: 16px;
}

.top-8 {
    top: 8px;
}

.bottom-8 {
    bottom: 8px;
}

.min-full-width {
    min-width: 100%;
}

.post-icon {
    transform: translateY(7px);
    margin-right: 8px;
}

.click-cursor {
    cursor: pointer;
}