body{
    width: 100%;
    height: 100vh;
}

.green-text {
	color: #23d160 !important;
}

.red-text {
	color: #ff3860 !important;
}

.is-danger-navbar-item {
    background-color: #ff3860;
}

.is-danger-navbar-item:hover {
    background-color: #b82845 !important;
}

.menu {
    position: sticky;
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    min-width: 250px;
    top: 0;
    bottom: 0;
    padding: 30px;
}
  
.content {
    display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10%);
}

.tiny-card {
    margin-left: 8px;
    margin-top: 16px;
    border-left: 4px solid orange;
}

.heart-icon {
    color: red;
    cursor: pointer;
}

.right-side {
    position: absolute;
    right: 16px;
}

.right-zero {
    right: 0px !important;
}

.top-8 {
    top: 8px;
}

.top-0 {
    top: 0px;
}

.bottom-8 {
    bottom: 8px;
}

.min-full-width {
    min-width: 100%;
}

.post-icon {
    transform: translateY(7px);
    margin-right: 8px;
}

.click-cursor {
    cursor: pointer;
}

.notification-bubble {
    height: 25px;
    width: 25px;
    text-align: center;
    display: inline-block;
    background-color: #e90000;
    border-radius: 50%;
    transform:translate(-2px, -10px) scale(.8);
    padding: 3px;
    color: white;
}

.max-sizes-image {
    height: 100% !important;
    width: 100% !important;
}

.display-none {
    display: none;
}

.image-previews {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.image-figure {
    margin-bottom: 8px;
}

.image-figure img {
    border-radius: 5px;
    min-height: 100%;
}

.pointer-events {
    pointer-events: all !important;
}

.feed-title {
    text-align: center;
}

.bottom-16 {
    bottom: 16px;
}

.comment-post {
    margin-left: 32px;
    border-left: 4px solid orange;
    padding-left: 10px; 
}

.comment-comment-post {
    margin-left: 64px;
    border-left: 4px solid rgb(0, 47, 255);
    padding-left: 10px; 
}

.comment-comment-margin {
    margin-left: 64px;
    min-width: 0 !important;
    width: calc(100% - 64px) !important;
}